.App {
  text-align: center;
  margin: auto;
}

.input {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  width: 296px;
  height: 27.85px;
}

.label {
  color: #666666;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.animal-registration {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
}
.rectangle {
  background-color: #D8D8D8;
  border: 1px solid #979797;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}